{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Visa application</a></li>
      <li>Mars Emigration Visa</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>

        <div class="form-group">
          <input class="button" type="submit" value="Download reference number">
        </div>

      </div>
      <p>We have sent you a confirmation email.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>We've sent your application to Hackney Electoral Register Office.</p>
      <p>They will contact you either to confirm your registration, or to ask for more information.</p>

      <div class="form-group">
        <details>
          <summary><span class="summary">What did you think of this service?</span></summary>
          <div class="panel panel-border-narrow">
            <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>

            <div class="form-group">
              <input class="button" type="submit" value="Submit">
            </div>
          </div>

        </details>
      </div>

    </div>
  </div>

</main>

{% endblock %}
