{% extends "layout.html" %}

{% block page_title %}
Space travel - select language
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Visa application</a></li>
      <li><a href="type.html">Type of travel</a></li>
      <li>Standard term visa</li>
    </ol>
  </div>

  <h1 class="heading-large" style="margin-bottom:0;">
    You need to make sure you check your answers before sending your application
  </h1>

  <div class="row">
    <div class="column-two-thirds" style="padding:0;">
      <table class="check-your-answers">

        <thead>
          <tr>
            <th colspan="2">
              <h2 class="heading-medium">
                Confirmation of your answers to date (changable where required and necessary)
              </h2>
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="font-size:16px;">
              Your details
            </td>
            <td style="font-size:16px;">
              JB Brewster<br>
              01234 567 890<br>
              JBB@jbb.com<br>
              2 Marsham Street<br>
              London<br>
              W1C 4CC<br>
              Tel: 01234 567 890<br>

            </td>
            <td class="change-answer" style="font-size:14px;">
              <a href="#">
                Change <span class="visuallyhidden">details</span>
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size:16px;">
              Travel details
            </td>
            <td style="font-size:16px;">
              John B Brewster<br>
              Federation of Mars<br>
              Jane Brewster<br>
              DOD: 01.12.2024<br>
              Virgin Galactic<br>
              DOA: 08.03.2025<br>
              Virgin Galactic<br>
            </td>
            <td class="change-answer" style="font-size:14px;">
              <a href="#" >
                Change <span class="visuallyhidden">Producer name</span>
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size:16px;">
              Conditions
            </td>
            <td style="font-size:16px;">
              None
            </td>
            <td class="change-answer" style="font-size:14px;">
              <a href="#">
                Change <span class="visuallyhidden">Site of export name</span>
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size:16px;">
              Recovery facilities
            </td>
            <td style="font-size:16px;">
              Recovery facilities name
            </td>
            <td class="change-answer" style="font-size:14px;">
              <a href="#">
                Change <span class="visuallyhidden">Recovery facilities name</span>
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size:16px;">
              Recovery site
            </td>
            <td style="font-size:16px;">
              Recovery site name
            </td>
            <td class="change-answer" style="font-size:14px;">
              <a href="#">
                Change <span class="visuallyhidden">Recovery site name</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <details style="margin-top:20px;">
    <summary><span class="summary">Important information</span></summary>

    <div class="panel panel-border-narrow">
      <p>
        You must check that all information is correct. Any errors will result in fines up to £10,000.00
      </p>
    </div>
  </details>

  <h2 class="heading-medium">Now send your application</h2>

  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <p>Space travel is dangerous and you accept all responsibility for your trip. You should have insurance in place before your trip. You should have also checked with the Galactic federation to make sure your destination is safe to travel to. We are only responsible for your visa application.</p>
      <p>By submitting this application, you adhere to section 5c of the galactic federation travel memoritorium and legal content. All data for your trip will be stored on cloud services, as per rule 4.1.4 of the guidance. Ad horem vector sa pe is included in this travel and all rights are waived.</p>
    </strong>
  </div>

  <div class="form-group" style="margin-top:20px;">
    <a href="standard-submitted" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
