{% extends "layout.html" %}

{% block page_title %}
Space travel - select language
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Visa application</a></li>
      <li><a href="type.html">Type of travel</a></li>
      <li>Standard term visa</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Confirm you want to proceed</h1>
      <p>The cost of a business visa to space is £350.00. You must repay any money you’re asked to. If you don’t repay money when asked you could be taken to court, and your benefits reduced or money taken directly from your wages until your debt is repaid.</p>
      <p>Space travel is dangerous and you undertake it at your own personal risk.</p>
    </div>
  </div>


  <a class="button" href="standard-conditions.html" role="button">Next</a>

</main>

{% endblock %}
